body {
    box-sizing: border-box;
    margin: 0;
    background: #ff9966;
    background: -webkit-linear-gradient(left, #ff5e62, #ff9966);
}



.contenedor{
    background-color: white;
    min-height: calc(100vh - 20px);
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 30px 0 30px;
}

header{
    background-color: #03a9f4;
    padding: 0 20px;
    display: flex;
    justify-content: space-between; /*uno a cada lado*/
    flex-direction: column; /*uno debajo del otro*/
}

h1, h2{
    text-align: center;
    font-family: 'IBM Plex Serif', serif;

}

h2{
    color: white;
}

nav {
    align-self: center;
}

nav a{
    color: white;
    font-family: 'IBM Plex Serif', serif;
    text-decoration: none;
}

.contenedor-flex{
    margin-top:20px;
    /*flex-direction: row;*/
    /*flex-wrap: wrap*/
    display: flex;
    flex-direction: column; /*responsive mobile first*/

}

.servicios{
}

.servicios .servicio{
}

.servicio{
    padding: 5px;
}

.elemento-flex{
    padding: 10px;
    flex: 1 0 auto;
}

.elemento-flex:first-child{
    background-color: #e53935;

}

.elemento-flex:nth-child(2){
    background-color: #be24aa;

}

.elemento-flex:nth-child(3){
    background-color: #3f51b5;
}

.principal{
    order: 2;
}

aside{
    background-color: #03a9f4;
    margin-bottom: 20px;

}

footer{
    background-color: #be24aa;
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
}

/*****************************************************/
@media screen and (min-width: 768px){
    header{
        flex-direction: row;
        justify-content: space-between;

    }

    .contenedor-flex{
        flex-direction: row;
    }

    .servicios{
        display: flex;
    }

    .servicios .servicio{
        flex: 1;
    }

    .elemento-flex:nth-child(3){
        background-color: #3f51b5;
    }

    .elemento-flex:nth-child(2){

    }

    .principal{
        flex: 0 1 60%;
        margin-right: 20px;
        order: unset;
    }

    aside{
        flex: 1;

    }
}

/*FLEXWRAP
default> no wrap : se desborda
wrap> se apilan debajo, se aconseja con row para que no se desborde hacia abajo
wrap-reverse> se agrupan de abajo a arriba*/

/* FLEXFLOW: se unen los valores de direction y wrap
column, row, wrap, no wrap, wrap-reverse
flex-flow: row wrap;
*/

/* flex-grow: 1*/
/*flex-basis: 50%
 para ajustar el ancho en vez de width*/
/*grow, shrink y basis:
flex: 1 0 auto*/